*{ margin:0; padding:0; box-sizing:border-box; }
body{
   background-image:url('../images/wheatgrassmain.jpg');
   background-attachment:fixed;
   background-size:cover;
   background-repeat: no-repeat;
   background-color: rgba(140, 198, 63, .8);
   color:#222;
   font-size:16px;
   font-family: 'Roboto', sans-serif; 
}
header{
  background-color: #fff;
}
#logo{
  float:left;
  width: 47%;
}
nav{
  font-size: 1.8em;
  float: right;
  width: 53%;
  margin: .5em 0;
}
nav a{
  color: #8cc63f;
  text-decoration: none;
  text-align: center;
  font-size: .7em;
  padding: .3em;
  border-right: .1em #8cc63f solid;
}
a:hover{
 color:#df864b;
}
h1{
    font-size:2.5em;
    font-weight:1.5em;
    font-family: 'Glegoo', serif;
    color:#8cc63f;
}
h2{
  font-size:3em;
  font-family: 'Glegoo', serif;
  padding: .1em 0;
  text-align:center;
}
h3{
  font-size:2.5em;
  color:#3B3B3B;
  padding: 0 .8em;
}
h4{
  font-size:1.5em;
  color:#8CC63F;
  padding: 0 .8em .5em;
  font-weight:500;
}
p{
  line-height:1.3em;
  padding-bottom: .8em;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
  text-align:center;
  font-size:1.5em;
}
img {
  display:block;
  margin:0 auto;
}
#splash img{
  width:33.33%;
  float:left;
}
#define {
  text-align:center;
  background:#F3F4F5;
}
#slogan{
  font-size:1.5em;
  font-weight:500;
  width:55%;
  margin:auto;
}
#label{
  text-align:center;
  background:#F3F4F5;
}
#fruitive{
  font-size:1.5em;
  font-weight:500;
  width:55%;
  margin:auto;
}
#team {
	background:#F3F4F5;
}
.farmers {
	width:33.33%;
	text-align:center;
  float:left;
}
.farmers img {
  border-radius: 100%;
}
#social {
  background:#F3F4F5;
}
.share {
  width:20%;
  text-align:center;
  float:left;
}
.share img {
  border-radius: 100%;
}
.share a {
  text-decoration:none;
  color:#151C71;
}
.photo img {
  width:100%;
}
footer{
	text-align:center;
	padding:1em 0;
  color:white;
}
.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
@media only screen and (max-width:800px){
  .farmers{
    float:none;
    width:auto;
  }
  .share{
    float:none;
    width:auto;
  }
  #logo{
    float:none;
    width:auto;
    text-align:center;
  }
  nav{
    float:none;
    width:auto;
    text-align:center;
  }
}
@media only screen and (max-width:480px){
  h2{
    font-size:2.5em;
  }
  h3{
    font-size:2em;
  }
  h4{
    font-size:1.2em;
  }
  nav a{
    float:none;
    width:auto;
  }
  #slogan{
    width:90%;
  }
  #fruitive{
    width:90%;
  }
}

