*{ margin:0; padding:0; border-box:box-sizing; }
body{
   color:#222;
   background-image:url('images/wheatgrassmain.jpg');
   background-attachment:fixed;
   background-size:cover;
   background-repeat: no-repeat;
   background-color: rgba(140, 198, 63, .8);
   font-size:16px;
   font-family: 'Roboto', sans-serif; 
   line-height: 1.4;
}
#hook {
	color:#fff;
	padding:.8em 0 0 .8em;
    margin:.2em;
    text-transform:uppercase;
}
#define {
  margin:.5em 0;
  padding:.5em 0;
  text-align:center;
  background:#F3F4F5;
}
#slogan{
  font-size:1.5em;
  font-weight:500;
}
#team {
	background:#F3F4F5;
}
.farmers {
	width:33.33%;
	text-align:center;
}
h1{
    font-size:5em;
    font-weight:3em;
    font-family: 'Glegoo', serif;
    padding: .8em 0 0 .8em;
    margin:.2em;
    color:#fff;
}
h2{
  font-size:3.5em;
  font-family: 'Glegoo', serif;
  padding: .5em 0;
  text-align:center;
}
h3{
	font-size:2.5em;
	color:#3B3B3B;
	padding: 0 .8em;
}
h4{
	font-size:1.5em;
	color:#8CC63F;
	padding: 0 .8em;
}
p{
  line-height:1.3em;
}
ul{
  line-height:1.5em;
  list-style: none;
  margin:0;
  padding:0;
  text-align:center;
  font-size:1.5em;
}
img {
	display:block;
	margin:0 auto;
}
#contact {
	text-align:center;
	padding: .5em 0;
}
footer{
	text-align:center;
	padding:1em 0;
}